*{ 
    touch-action: pan-y; 
} 
html,body{
    // font-size: 58.5938px;
        width: 100%;
        background-color: #fff;
        height: 100%;
        // 加载
        section.loader{
            width: 100%;
            min-height: 100%;
            background: -webkit-linear-gradient(#96dafb, #fff); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(#96dafb,   #fff); /* Opera 11.6 - 12.0 */
            background: -moz-linear-gradient( #96dafb,  #fff); /* Firefox 3.6 - 15 */
            background: linear-gradient( #96dafb,   #fff); /* 标准的语法 */
            >div{
                padding-top: 50%;
                &:nth-child(1){
                    font-weight: bold;
                    font-size: 1em;
                    line-height: 2em;
                    text-align: center;
                    font-style: italic;
                    color: #fff;
                }
                &:nth-child(2){
                    box-sizing: border-box;
                    padding: 2px;
                    margin: 0 auto;
                    width: 15em;
                    height: .5em;
                    background-color: #fff;
                    border-radius: .4em;
                    div{
                        width: 30%;
                        height: .24em;
                        border-radius: .4em;
                        background-color: #61bce9;
                    }
                }
            }
        }
        // 首页
        section.home{
            display: none;
            >div{
                &:nth-child(1){
                    width: 7.5rem;
                    height:3.4rem;
                    background:url('../images/h_01.png') no-repeat;
                    background-size: cover;
                    position: relative; 
                    >a{
                        position: absolute;
                        top: .3rem;
                        right: .17rem;
                        display: inline-block;
                        width: 1.38rem;
                        height: .4rem;
                        border-radius: .2rem;
                        background-color: #0088ef;
                        line-height: .4rem;
                        text-align: center;
                        color: #fff;
                        font-size: .24rem;
                    } 
                }
                &:nth-child(2){
                    width: 7.5rem;
                    height:6.82rem;
                    background:url('../images/h_02.png') no-repeat;
                    background-size: cover; 
                    position: relative; 
                    >p{
                        display: none;
                        &:nth-child(1){
                            position: absolute;
                            right: 1.08rem;
                            top: .03rem;
                            width: 2.51rem;
                            height: 1.05rem;
                            background: url('../images/h_talk_01.png') no-repeat;
                            background-size: cover;
                        }
                        &:nth-child(2){
                            position: absolute;
                            right:.8rem;
                            top: .82rem;
                            width: .92rem;
                            height:.65rem;
                            background: url('../images/h_talk_02.png') no-repeat;
                            background-size: cover;
                        }
                        &:nth-child(3){
                            position: absolute;
                            right:.62rem;
                            top:1.57rem;
                            width:1.41rem;
                            height:.7rem;
                            background: url('../images/h_talk_03.png') no-repeat;
                            background-size: cover; 
                        }
                        &:nth-child(4){
                            position: absolute;
                            right:1.46rem;
                            top:2.66rem;
                            width:1.34rem;
                            height:.61rem;
                            background: url('../images/h_talk_04.png') no-repeat;
                            background-size: cover;
                        }
                        &:nth-child(5){
                            position: absolute;
                            right:.18rem;
                            top:3.27rem;
                            width:2.92rem;
                            height:.91rem;
                            background: url('../images/h_talk_05.png') no-repeat;
                            background-size: cover;
                        }

                    }
                }
                &:nth-child(3){
                    width: 7.5rem;
                    height:1.84rem;
                    background:url('../images/h_03.png') no-repeat;
                    background-size: cover; 
                    text-align: center;
                    >a{
                        display: inline-block;
                        width:3.61rem;
                        height:.98rem;
                        background: url('../images/h_btn.png') no-repeat;
                        background-size: cover;
                    } 
                }
            }
        }
        // 场景
        section.choose{
            width: 7.5rem;
            height: 12.06rem;
            background: url('../images/bg.png') no-repeat;
            background-size: cover; 
            >div{
                &:nth-child(1){
                    height: 3.6rem;
                    padding-top: .54rem;
                    box-sizing: border-box;
                    text-align: center;
                  >p{
                      &:nth-child(2){
                          font-size: .28rem;
                          color: #ff4a45;
                      }
                  }
                }
                &:nth-child(2){
                  width: 7.5rem;
                  height: 6.10rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  >ul{
                    // width: 5.8rem;
                    // height: 4.8rem;
                    width: 6.2rem;
                    height: 5.3rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    >li{
                        width: 1.9rem;
                        height: 2.4rem;
                        position: relative;
                        >div{
                            &:nth-child(2){
                                width: .3rem;
                                height: .3rem;
                                border: solid 1px #131617;
                                border-radius: 50%;
                                background-color: #fff;
                                position: absolute;
                                right: 0;
                                top: -.1rem;
                                box-sizing: border-box;
                                >span{
                                    &.cheacked{
                                        position: absolute;
                                        left: -.04rem;
                                        top: -.07rem;
                                        display: inline-block;
                                        background: url('../images/cheacked.png') no-repeat;
                                        background-size: cover;
                                        width: .41rem;
                                        height: .27rem;
                                    }
                                    
                                }
                            }
                           
                        }
                    }
                  }
                }
                &:nth-child(3){
                    font-size: .28rem;
                    color: #0088ef;
                    text-align: center;
                }
            }
            // 动漫
            &.choose_01{
                display: none;
                >div{
                    &:nth-child(1){
                        >p{
                            &:nth-child(1){
                                width:5.69rem;
                                height:2.64rem;
                                background: url('../images/anima_title.png') no-repeat;
                                background-size: cover;  
                                margin: 0 auto; 
                            }
                        }
                        
                    }
                }
                .choose_content{
                    >ul{
                        >li{
                            >div{
                                &:nth-child(1){
                                    width: 1.80rem;
                                    height: 2.3rem;
                                    background: url('../images/pic_anima.png') no-repeat;
                                    background-size: cover;
                                    border-radius: .2rem;
                                }
                               
                            }
                            &:nth-child(1){
                                >div{
                                    &:nth-child(1){
                                        background-position: 0 0;
                                        background-color: #ed8b7a;
                                    }
                                  
                                }
                            }
                            &:nth-child(2){
                                >div{
                                    &:nth-child(1){
                                        background-position: -1.80rem 0;
                                        background-color: #bc567a;
                                    }
                                    
                                }
                            }
                            &:nth-child(3){
                                >div{
                                    &:nth-child(1){
                                        background-position: -3.60rem 0;
                                        background-color: #56bcb8;
                                    }
                                 
                                }
                            }
                            &:nth-child(4){
                                >div{
                                    &:nth-child(1){
                                        background-position: -5.40rem 0;
                                        background-color: #4b7ebd;
                                    }
                                   
                                }
                            }
                            &:nth-child(5){
                                >div{
                                    &:nth-child(1){
                                        background-position: -7.20rem 0;
                                        background-color: #fcca74;    
                                    }
                                   
                                }
                            }
                            &:nth-child(6){
                                >div{
                                    &:nth-child(1){
                                        background-position: -9rem 0;
                                        background-color: #32c4df;
                                    }
                                   
                                }
                            }
                        }
                    }
                }
            }
            // 零食
            &.choose_02{
                display: none;
                >div{
                    &:nth-child(1){
                        >p{
                            &:nth-child(1){
                                width:5.69rem;
                                height:2.64rem;
                                background: url('../images/snack_title.png') no-repeat;
                                background-size: cover;  
                                margin: 0 auto; 
                            }
                        }
                        
                    }
                }
                .choose_content{
                    >ul{
                        >li{
                            >div{
                                &:nth-child(1){
                                    width: 1.80rem;
                                    height: 2.3rem;
                                    background: url('../images/pic_sanck.png') no-repeat;
                                    background-size: cover;
                                    border-radius: .2rem;
                                }
                              
                            }
                            &:nth-child(1){
                                >div{
                                    &:nth-child(1){
                                        background-position: 0 0;
                                        background-color: #fcca74;
                                    }
                                    
                                }
                            }
                            &:nth-child(2){
                                >div{
                                    &:nth-child(1){
                                        background-position: -1.80rem 0;
                                        background-color: #bc567a;
                                    }
                                  
                                }
                            }
                            &:nth-child(3){
                                >div{
                                    &:nth-child(1){
                                        background-position: -3.60rem 0;
                                        background-color: #32c4df;
                                    }
                                   
                                }
                            }
                            &:nth-child(4){
                                >div{
                                    &:nth-child(1){
                                        background-position: -5.40rem 0;
                                        background-color: #ed8b7a;
                                    }
                                  
                                }
                            }
                            &:nth-child(5){
                                >div{
                                    &:nth-child(1){
                                        background-position: -7.20rem 0;
                                        background-color: #56bcb8;
                                    }
                                }
                            }
                            &:nth-child(6){
                                >div{
                                    &:nth-child(1){
                                        background-position: -9.03rem 0;
                                        background-color: #4b7ebd;
                                    }
                                   
                                }
                            }
                        }
                    }
                }
            }
            // 游戏
            &.choose_03{
                display: none;
                >div{
                    &:nth-child(1){
                        >p{
                            &:nth-child(1){
                                width:5.69rem;
                                height:2.64rem;
                                background: url('../images/game_title.png') no-repeat;
                                background-size: cover;  
                                margin: 0 auto; 
                            }
                        }
                        
                    }
                }
                .choose_content{
                    >ul{
                        >li{
                            >div{
                                &:nth-child(1){
                                    width: 1.80rem;
                                    height: 2.3rem;
                                    background: url('../images/pic_game.png') no-repeat;
                                    background-size: cover;
                                    border-radius: .2rem;
                                }
                            }
                            &:nth-child(1){
                                  >div{
                                      &:nth-child(1){
                                        background-position: 0 0;
                                        background-color: #4b7ebd;
                                      }
                                  }
                            }
                            &:nth-child(2){
                                  >div{
                                    &:nth-child(1){
                                        background-position: -1.80rem 0;
                                        background-color: #56bcb8;       
                                    }
                                  }
                            }
                            &:nth-child(3){
                                  >div{
                                      &:nth-child(1){
                                        background-position: -3.60rem 0;
                                        background-color: #32c4df;
                                      }
                                  }
                            }
                            &:nth-child(4){
                                  >div{
                                      &:nth-child(1){
                                        background-position: -5.40rem 0;
                                        background-color: #fcca74;
                                      }
                                   
                                  }
                            }
                            &:nth-child(5){
                                  >div{
                                      &:nth-child(1){
                                        background-position: -7.20rem 0;
                                        background-color: #bc567a;
                                      }
                                      
                                  }
                            }
                            &:nth-child(6){
                                >div{
                                    &:nth-child(1){
                                        background-position: -9rem 0;
                                        background-color: #ed8b7a;    
                                    }
                                     
                                }
                            }
                        }
                    }
                }
            }
            // 时间
            &.choose_04{
                display: none;
                >div{
                    &:nth-child(1){
                        >p{
                            &:nth-child(1){
                                width:5.69rem;
                                height:2.64rem;
                                background: url('../images/time_title.png') no-repeat;
                                background-size: cover;
                                margin: 0 auto; 
                            }
                        }
                        
                    }
                }
                .choose_content{
                    >ul{
                        >li{
                            >div{
                                &:nth-child(1){
                                    width: 1.80rem;
                                    height: 2.3rem;
                                    background: url('../images/pic_time.png') no-repeat;
                                    background-size: cover;
                                    border-radius: .2rem;
                                }
                            }
                            &:nth-child(1){
                                  >div{
                                      &:nth-child(1){
                                        background-position: 0 0;
                                        background-color: #4b7ebd;
                                      }
                                  }
                            }
                            &:nth-child(2){
                                  >div{
                                    &:nth-child(1){
                                        background-position: -1.80rem 0;
                                        background-color: #fcca74;
                                           
                                    }
                                  }
                            }
                            &:nth-child(3){
                                  >div{
                                      &:nth-child(1){
                                        background-position: -3.60rem 0;
                                        background-color: #56bcb8;   
                                      }
                                  }
                            }
                            &:nth-child(4){
                                  >div{
                                      &:nth-child(1){
                                        background-position: -5.40rem 0;
                                        background-color: #bc567a;
                                      }
                                   
                                  }
                            }
                            &:nth-child(5){
                                  >div{
                                      &:nth-child(1){
                                        background-position: -7.20rem 0;
                                        background-color: #ed8b7a;
                                      }
                                      
                                  }
                            }
                            &:nth-child(6){
                                >div{
                                    &:nth-child(1){
                                        background-position: -9rem 0;
                                        background-color: #32c4df;
                                    }
                                     
                                }
                            }
                        }
                    }
                }
            }
            // 衣服
            &.choose_05{
                display: none;
                >div{
                    &:nth-child(1){
                        >p{
                            &:nth-child(1){
                                width:5.69rem;
                                height:2.64rem;
                                background: url('../images/cloth_title.png') no-repeat;
                                background-size: cover;
                                margin: 0 auto; 
                            }
                        }
                        
                    }
                }
                >a{
                    display: flex;
                    justify-content: center;
                     width:3.04rem;
                     height:.94rem;
                     background: url('../images/cloth_btn.png') no-repeat;
                     background-size: cover;
                     margin: .35rem auto 0;
                }
                .choose_content{
                    >ul{
                        >li{
                            >div{
                                &:nth-child(1){
                                    width: 1.80rem;
                                    height: 2.3rem;
                                    background: url('../images/pic_cloth.png') no-repeat;
                                    background-size: cover;
                                    border-radius: .2rem;
                                }
                            }
                            &:nth-child(1){
                                  >div{
                                      &:nth-child(1){
                                        background-position: 0 0;
                                        background-color: #32c4df;
                                      }
                                  }
                            }
                            &:nth-child(2){
                                  >div{
                                    &:nth-child(1){
                                        background-position: -1.80rem 0;
                                        background-color: #56bcb8;       
                                    }
                                  }
                            }
                            &:nth-child(3){
                                  >div{
                                      &:nth-child(1){
                                        background-position: -3.60rem 0;
                                        background-color: #4b7ebd;
                                      }
                                  }
                            }
                            &:nth-child(4){
                                  >div{
                                      &:nth-child(1){
                                        background-position: -5.40rem 0;
                                        background-color: #ed8b7a;    
                                      }
                                   
                                  }
                            }
                            &:nth-child(5){
                                  >div{
                                      &:nth-child(1){
                                        background-position: -7.20rem 0;
                                        background-color: #fcca74;
                                      }
                                      
                                  }
                            }
                            &:nth-child(6){
                                >div{
                                    &:nth-child(1){
                                        background-position: -9rem 0;
                                        background-color: #bc567a;
                                    }
                                     
                                }
                            }
                        }
                    }
                }
            }
            >a{
                display: flex;
                justify-content: center;
                 width: 2.93rem;
                 height: .82rem;
                 background: url('../images/next.png') no-repeat;
                 background-size: cover;
                 margin: .35rem auto 0;
            }
        }
        // 主页
        section.main{
            display: none;
            width: 7.5rem;
            height: 12.06rem;
            background: url('../images/bg.png') no-repeat;
            background-size: cover; 
            >div{
                &:nth-child(1){
                    width: 7.50rem;
                    height:5.14rem;
                    background: url('../images/main_01.png') no-repeat;
                    background-size: cover;
                    position: relative; 
                    >a{
                        position: absolute;
                        top: .3rem;
                        right: .17rem;
                        display: inline-block;
                        width: 1.38rem;
                        height: .4rem;
                        border-radius: .2rem;
                        background-color: #0088ef;
                        line-height: .4rem;
                        text-align: center;
                        color: #fff;
                        font-size: .24rem;
                    }
                    >div{
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: auto;
                        bottom: .74rem;
                        width: 2.4rem;
                        height: 1rem;
                        color: #b8592a;
                        font-size: .29rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        font-weight: bolder;
                    }

                }
                &:nth-child(2){
                    width: 5.8rem;
                    height: 4.84rem;
                    margin: 0 auto;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    >div{
                        width: 2.45rem;
                        height: 3.75rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        &:nth-child(1){
                            >p{
                                width: 1.34rem;
                                height:2.46rem;
                                background: url('../images/main_02.png') no-repeat;
                                background-size: cover; 
                            }
                            >a{
                                display: inline-block;
                                &.unling_left{
                                    width: 2.44rem;
                                    height:.94rem;
                                    background: url('../images/main_unbtn1.png') no-repeat;
                                    background-size: cover;  
                                }
                            }

                        }
                        &:nth-child(2){
                          
                            >p{
                                width: 2.62rem;
                                height:2.46rem;
                                background: url('../images/main_03.png') no-repeat;
                                background-size: cover; 
                            }
                            >a{
                                display: inline-block;
                                &.unling_right{
                                    width: 2.44rem;
                                    height:.94rem;
                                    background: url('../images/main_unbtn2.png') no-repeat;
                                    background-size: cover; 
                                    animation:mymove 1.5s infinite;
                                    -webkit-animation:mymove 1.5s infinite; /*Safari and Chrome*/
                                    animation-direction:alternate;/*轮流反向播放动画。*/
                                    animation-timing-function: ease-in-out; /*动画的速度曲线*/
                                }
                            }

                        }
                        // 查看按钮
                        .allling{
                            width: 2.45rem;
                            height:.94rem;
                            background: url('../images/main_yibtn.png') no-repeat;
                            background-size: cover; 
                        }
                    }
                }
            }    
        }
        // 分享
        section.share{
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            margin: auto;
            width:7.5rem;
            height: 100%;
            background-color: #000;
            opacity: .9;
            z-index: 200;
            >div{
                position: absolute;
                top: .33rem;
                right: .54rem;
                width:5.96rem;
                height: 2.05rem;
                background: url('../images/share_01.png') no-repeat;
                background-size: cover;    
            }
        }
        // 活动规则
        section.tc_rule{
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            width: 7.5rem;
            height: 12.06rem;
            background: url('../images/bg.png') no-repeat;
            background-size: cover; 
            z-index: 200;
            >div{
                margin: 0 auto;
                &:nth-child(1){
                    width: 5.48rem;
                    height: 2.64rem;
                    background: url('../images/rule_01.png') no-repeat;
                    background-size: cover;
                }
                &:nth-child(2){
                    width: 5.32rem;
                    height:6.32rem;
                    background: url('../images/rule_02.png') no-repeat;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    >ul{
                        width: 4.83rem;
                        height: 5.83rem;
                        overflow-y: scroll;
                        font-size: .28rem;
                        >li{
                            text-align: justify;
                            line-height: .5rem;
                        }
                    }
                }
            }
            >a{
                display: flex;
                justify-content: center;
                width: 2.44rem;
                height: .94rem;
                background: url('../images/tc_btn.png') no-repeat;
                background-size: cover;
                margin: .62rem auto 0;
            } 
        }
        // 绑定手机
        section.binded{
            display: none;
            width: 7.5rem;
            height: 12.06rem;
            background: url('../images/bg.png') no-repeat;
            background-size: cover;
            text-align: center;
        }
        // 弹窗
        section.pop{
            position: fixed;
            top: 1.13rem;
            z-index: 200;
            left: 0;
            right: 0;
            margin: auto;
            // 本网弹窗
            &.tc_1{
                display: none;
                >div{
                    width: 5.32rem;
                    height: 5.5rem;
                    background: url(../images/tc_02.png) center no-repeat;
                    background-size: cover;
                    margin: 0 auto;
                    text-align: center;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    padding-bottom: .21rem;
                    font-size: .28rem;
                    >p{
                        &:nth-child(1),&:nth-child(2),&:nth-child(3){
                            font-size: .3rem;
                        }
                        &:nth-child(2){
                            color: #cc2e38;
                        }
                        &:nth-child(3){
                            >span{
                                color: #cc2e38;
                            }
                        }
                        &:nth-child(4){
                            margin-top: .34rem;
                        }
                    }
                    >a{
                        display: inline-block;
                        width: 4.8rem;
                        height: 1.34rem;
                        background-color: #0077ef;
                        margin-top: .54rem;
                    }
                }
                >a{
                    display: flex;
                    justify-content: center;
                    width: 2.44rem;
                    height: .94rem;
                    background: url('../images/tc_btn.png') no-repeat;
                    background-size: cover;
                    margin: .62rem auto 0;
                }
            }
            // 异网弹窗1
            &.tc_2{
                display: none;
                >div{
                    margin: 0 auto;
                    &:nth-child(1){
                        box-sizing: border-box;
                        padding: .4rem 0 .52rem 0;  
                        width: 5.32rem;
                        height: 3.81rem;
                        background: url('../images/tc_01.png') no-repeat;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        font-size: .3rem;
                        >p{
                            &:nth-child(2){
                                color: #cc2e38;
                            }
                            &:nth-child(3){
                                margin-top: .37rem;
                                >span{
                                    color: #cc2e38;
                                }
                            }
                            &:nth-child(5){
                                margin-top: .47rem;
                                font-size: .28rem;
                            }
                        }
                    }
                    &:nth-child(2){
                        width: 5.32rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: .7rem auto 0;
                        >a{
                            display: inline-block;
                            &:nth-child(1){
                                width: 2.44rem;
                                height: .94rem;
                                background: url('../images/tc_btn_02.png') no-repeat;
                                background-size: cover;
                            }   
                            &:nth-child(2){
                                width: 2.44rem;
                                height: .94rem;
                                background: url('../images/tc_btn_01.png') no-repeat;
                                background-size: cover;
                                
                            }             
                        }
                    }
                }
            }
            // 异网弹窗2
            &.tc_3{
                display: none;
                >div{
                    box-sizing: border-box;
                    width: 5.32rem;
                    height: 3.81rem;
                    background: url('../images/tc_01.png') no-repeat;
                    background-size: cover;
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    align-items: center;
                    margin:0 auto;
                    font-size: .3rem;
                    >div{
                        display: flex;
                        align-items: center;
                        margin: .6rem auto;
                        >input{
                            width: 2.61rem;
                            height: .52rem;
                            border: solid 1px #449bef;
                            background-color:#ececd7;
                            box-sizing: border-box;
                            padding-left: .1rem;
                            display: flex;
                            align-items: center;
                            border-radius: .26rem;
                            margin-left: .1rem;
                        }
                    }
                    >p{
                        &:nth-child(3){
                            font-size: .28rem;
                        }
                    }
                    
                }
                >a{
                    display: flex;
                    justify-content: center;
                    width: 2.44rem;
                    height: .94rem;
                    background: url('../images/tc_btn.png') no-repeat;
                    background-size: cover;
                    margin: .62rem auto 0;
                }
            }
            // 异网弹窗3
            &.tc_4{
                display: none;
                >div{
                    margin: 0 auto;
                    &:nth-child(1){
                        width:1.77rem;
                        height: .77rem;
                        background: url('../images/tc_03.png') no-repeat;
                        background-size: cover;
                    }
                    &:nth-child(2){
                        box-sizing: border-box;
                        padding: .4rem 0 .52rem 0;  
                        width: 5.32rem;
                        height: 3.81rem;
                        background: url('../images/tc_01.png') no-repeat;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        text-align: center;
                        font-size: .3rem;
                        >p{
                            &:nth-child(2),&:nth-child(4){
                                >span{
                                    color:#cc2e38; 
                                }
                               
                            }
                            &:nth-child(5){
                               margin-top: .64rem;
                               font-size: .28rem;
                            }
                            &:nth-child(6){
                                font-size: .28rem;
                             }
                        }
                    }
                    &:nth-child(3){
                        width: 5.32rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: .7rem auto 0;
                        >a{
                            display: inline-block;
                            width: 2.44rem;
                            height: .94rem;
                            &:nth-child(1){
                                background: url('../images/tc_btn_03.png') no-repeat;
                                background-size: cover;    
                            }   
                            &:nth-child(2){
                                background: url('../images/tc_btn.png') no-repeat;
                                background-size: cover;
                            }             
                        }
                    }
                }
            }
            // 异网弹窗4
            &.tc_5{
                display: none;
                >div{
                    width: 5.32rem;
                    height: 5.5rem;
                    background: url(../images/tc_02.png) center no-repeat;
                    background-size: cover;
                    margin: 0 auto;
                    text-align: center;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    padding-bottom: .21rem;
                    font-size: .28rem;
                    >p{
                        &:nth-child(1){
                            font-size: .28rem;
                            >span{
                                color: #cc2e38;
                            }
                        }
                        &:nth-child(2){
                            font-size: .28rem;
                        }
                        &:nth-child(3){
                            font-size: .28rem;
                            >span{
                                color: #cc2e38;
                            }
                            
                        }
                        &:nth-child(4){
                           margin-top: .34rem;
                        }
                    }
                    >a{
                        display: inline-block;
                        width: 4.8rem;
                        height: 1.34rem;
                        background-color: rgb(189, 28, 28);
                        margin: .37rem auto 0;
                        // background: url(../images/cm_10GB.gif) center no-repeat;
                        // background-size: cover;
                    }
                }
                >a{
                    display: flex;
                    justify-content: center;
                    width: 2.44rem;
                    height: .94rem;
                    background: url('../images/tc_btn.png') no-repeat;
                    background-size: cover;
                    margin: .62rem auto 0;
                }
            }
            // 提示
            &.tc_tishi{
                display: none;
                >div{
                    margin: 0 auto;
                    box-sizing: border-box;
                    width: 5.32rem;
                    height: 3.81rem;
                    background: url('../images/tc_01.png') no-repeat;
                    background-size: cover;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: .28rem;
                    >p{
                        line-height: .5rem;
                    }
                }
                >a{
                    display: flex;
                    justify-content: center;
                    width: 2.44rem;
                    height: .94rem;
                    background: url('../images/tc_btn.png') no-repeat;
                    background-size: cover;
                    margin: .62rem auto 0;
                }
            }
        }
        // 按钮缩放
        @keyframes mymove
            {
                0%{
                transform: scale(1);  /*开始为原始大小*/
                }
                25%{
                    transform: scale(1.1); /*放大1.1倍*/
                }
                50%{
                    transform: scale(1);
                }
                75%{
                    transform: scale(1.1);
                }

            }
            
            @-webkit-keyframes mymove /*Safari and Chrome*/
            {
                0%{
                transform: scale(1);  /*开始为原始大小*/
                }
                25%{
                    transform: scale(1.1); /*放大1.1倍*/
                }
                50%{
                    transform: scale(1);
                }
                75%{
                    transform: scale(1.1);
                }
        }
        /* 遮罩层 */
        section.mask{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.9);
            z-index: 100;
        }
}

             